nav{
    height: 100px;
}

.yellow{
    color: goldenrod;
}

.white{
    background-color: white;
}

.grey{
    background-color: lightgrey;
}

.hpix{
    height: 150px;
}

.logoMobile{
    width: 2rem;
}

.sb{
    height: calc(100vh - 100px);
    background-color: rgb(5, 30, 52);
    background-image: url(../img/sidebar-bg.png);
}

.content{
    height: calc(100vh - 100px);
    /* background-color: red; */
}

.pZeroTre{
    margin-top: 0.3rem;
}

.darkBlue{
    background-color: darkblue;
    color: white;
    /* width: 2rem; */
}

.jt-avatar {
    max-width: 25px;
}

.titleC{
    border-radius: 5px;
}

.underline{
    
}

.borderZ{
    border: 1px solid lightgrey;
}