body{
    height: 100vh;
}

nav{
    height: 50px;
}

main{
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.debugOverflow{
    height: 100%;
    overflow: scroll;
}




.yellow{
    color: goldenrod;
}

.white{
    background-color: white;
}

.grey{
    background-color: lightgrey;
}

.hpix{
    height: 150px;
}

.logoMobile{
    width: 2rem;
}

.sb{
    height: calc(100vh - 50px);
    background-color: rgb(5, 30, 52);
    background-image: url(../img/sidebar-bg.png);
}

.content{
    height: calc(100vh - 50px);
    overflow-y: auto;
    /* background-color: red; */
}

.pZeroTre{
    margin-top: 0.3rem;
}

.darkBlue{
    background-color: darkblue;
    color: white;
    /* width: 2rem; */
}

.jt-avatar {
    max-width: 25px;
}

.titleC{
    border-radius: 5px;
}

.borderZ{
    border: 1px solid lightgrey;
}

.ovfw{
    overflow: auto;
}

.yellowBtn{
    background-color: rgb(255, 200, 7);
    border-color: rgb(255, 200, 7);
}

.hoverMe:hover{
    background-color: lightgray;
    opacity: 30%;

}

@media screen and (max-width: 991px){

    #offCanvas{
       width: 40%;
    }
 }

@media screen and (min-width: 992px){

    #offCanvas{
       width: 75%;
    }
 }